body {
    padding: 16px 20px;
    background-color: #0AA190;
    height: 95vh;
}

header > h1 {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

site-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait_mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 52px;
}

#fullwidth_bodywrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (orientation:portrait) {
    #fullwidth_bodywrapper {
        display: none;
    }
}

@media screen and (orientation:landscape) {
    #portrait_mode {
        display: none;
    }
}

intro {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.storefront {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

#roof {
    position: absolute;
    width: 100%;
    height: 25%;
}

#door {
    position: absolute;
    bottom: 0;
    width: 33%;
}

#door > img {
    width: 100%;
}

#sign {
    position: absolute;
    top: 0;
    width: 50%;
}

#right_window {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 75%;
}

#left_window {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75%;
}

#title {
    width: 200px;
    height: 150px;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_constellation {
    width: 875px;
    height: 325px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_constellation > a {
    position: absolute;
}

#nav_constellation:nth-child(even) {
    font-weight: bold;
    left: 0;
}

#nav_constellation:nth-child(odd) {
    font-weight: bold;
    right: 0;
}

#about_me_page {
    background-color: #EEC786;
}

#about_me_page header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 25vw;
}

#about_me_page footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: inherit;
}

#about_me_page page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#refreshButton {
    visibility: hidden;
    cursor: pointer;
}

#refreshButton:hover {
    visibility: visible;
}

.hover_visible {
    visibility: visible;
}

#about_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    #about_text {
        font-size: 32px;
        width: 75vw;
    }
}

#about_images {
    position: absolute;
    width: 95vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    box-sizing: border-box;
    z-index: -1;
}

#about_images > img {
    width: 25vw;
    border-radius: 50%;
    /* position: absolute; */
}